---
import Container from "./Container.astro";
import ParrafoServicio from "./ParrafoServicio.astro";
---
<div id="servicios">
    <Container>
        <div>
            <div class="mb-20 space-y-4 px-6 md:px-0">
                <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">Nuestros
                    Servicios</h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-stretch">

                <div class="p-6 border rounded-lg shadow hover:shadow-lg transition flex flex-col h-full gap-y-12 bg-white dark:bg-gray-800">
                    <h3 class="text-xl font-semibold text-center text-gray-700 dark:text-white">Contabilidad</h3>

                    <div class="flex flex-col gap-y-2 justify-center">
                        <ParrafoServicio>Declaraciones patrimoniales</ParrafoServicio>
                        <ParrafoServicio>Registro y pago de nóminas</ParrafoServicio>
                        <ParrafoServicio>Facturación global, mensual o diaria</ParrafoServicio>
                        <ParrafoServicio>Elaboración de estados financieros</ParrafoServicio>
                        <ParrafoServicio>Solicitud de saldo a favor IVA e ISR</ParrafoServicio>
                    </div>

                    <div class="mt-auto flex flex-wrap justify-center gap-y-4 gap-x-6">
                        <a
                                href="./#contacto"
                                class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                        >
                            <span class="relative text-base font-semibold text-white">Contáctanos</span>
                        </a>
                    </div>
                </div>

                <div class="p-6 border rounded-lg shadow hover:shadow-lg transition flex flex-col h-full gap-y-12 bg-white dark:bg-gray-800">
                    <h3 class="text-xl font-semibold text-center text-gray-700 dark:text-white">Cálculo de impuestos</h3>

                    <div class="flex flex-col gap-y-2 justify-center">
                        <ParrafoServicio>Federales: ISR, IVA, IEPS</ParrafoServicio>
                        <ParrafoServicio>Estatales: IMSS, SAR, INFONAVIT</ParrafoServicio>
                        <ParrafoServicio>Locales:</ParrafoServicio>
                        <ParrafoServicio>2% Estado</ParrafoServicio>
                        <ParrafoServicio>4% Profesión médpa</ParrafoServicio>
                        <ParrafoServicio>4% Impuesto sobre hospedaje</ParrafoServicio>
                    </div>

                    <div class="mt-auto flex flex-wrap justify-center gap-y-4 gap-x-6">
                        <a
                                href="./#contacto"
                                class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                        >
                            <span class="relative text-base font-semibold text-white">Contáctanos</span>
                        </a>
                    </div>
                </div>

                <div class="p-6 border rounded-lg shadow hover:shadow-lg transition flex flex-col h-full gap-y-12 bg-white dark:bg-gray-800">
                    <h3 class="text-xl font-semibold text-center text-gray-700 dark:text-white">Asesoría fiscal</h3>

                    <div class="flex flex-col gap-y-2 justify-center">
                        <ParrafoServicio>Registro diario de operaciones comerciales</ParrafoServicio>
                        <ParrafoServicio>Declaraciones patrimoniales</ParrafoServicio>
                        <ParrafoServicio>Registro y pago de nóminas</ParrafoServicio>
                        <ParrafoServicio>Facturación global, mensual o diaria</ParrafoServicio>
                        <ParrafoServicio>Elaboración de estados financieros</ParrafoServicio>
                        <ParrafoServicio>Solicitud de saldo a favor IVA e ISR</ParrafoServicio>
                    </div>

                    <div class="mt-auto flex flex-wrap justify-center gap-y-4 gap-x-6">
                        <a
                                href="./#contacto"
                                class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                        >
                            <span class="relative text-base font-semibold text-white">Contáctanos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>

