---
import Container from "./Container.astro"
---

<div class="text-gray-600 dark:text-gray-300" id="testimonios">
    <Container>
        <div class="mb-20 space-y-4 px-6 md:px-0">
            <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
                Testimonios
            </h2>
        </div>
        <div class="md:columns-2  gap-8 space-y-10">
            <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
                <div class="flex gap-4">
                    <div>
                        <h6 class="text-lg font-medium text-gray-700 dark:text-white">Fernando G.P</h6>
                        <p class="text-sm text-gray-500 dark:text-gray-300">Dueño de negocio</p>
                    </div>
                </div>
                <p class="mt-8">Me complace recomendar enfáticamente a HEGA Consultores, representada actualmente por la
                    L.C. Ma. Trinidad Hernández Galindo, ya que han demostrado ser un equipo profesional, altamente
                    competente, comprometido y honesto; llevamos más de 40 años recibiendo sus servicios contables y
                    fiscales, los cuales nos han sido prestados de manera eficaz y oportuna, cumpliendo con nuestras
                    obligaciones fiscales.</p>
            </div>
            <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
                <div class="flex gap-4">
                    <div>
                        <h6 class="text-lg font-medium text-gray-700 dark:text-white">J Jesus R.F</h6>
                        <p class="text-sm text-gray-500 dark:text-gray-300">Administrador de negocio</p>
                    </div>
                </div>
                <p class="mt-8">Me permito informarle que conozco ampliamente los servicios prestados por la L.C. Ma.
                    Trinidad Hernández Galindo, quien representa a HEGA Consultores de manera honesta y eficaz; su
                    despacho ha cumplido con nuestras obligaciones contables y fiscales durante más de 25 años y estamos
                    ampliamente satisfechos con el trabajo que ha venido desempeñando de manera independiente.</p>
            </div>
            <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
                <div class="flex gap-4">
                    <div>
                        <h6 class="text-lg font-medium text-gray-700 dark:text-white">Cuauhtemoc S.R</h6>
                        <p class="text-sm text-gray-500 dark:text-gray-300">Contribuyente</p>
                    </div>
                </div>
                <p class="mt-8">A través del presente documento quiero hacer constar mi entera satisfacción y
                    reconocimiento por los servicios prestados por HEGA Consultores, representada de manera honesta y
                    confiable por la L.C. Ma. Trinidad Hernández Galindo; tengo más de 15 años recibiendo sus servicios
                    de asesoría fiscal y contable, y no he recibido observación negativa por parte de las autoridades
                    fiscales ni tengo opinión desfavorable de manera personal.</p>
            </div>
            <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
                <div class="flex gap-4">

                    <div>
                        <h6 class="text-lg font-medium text-gray-700 dark:text-white">Maria Fernandez P.</h6>
                        <p class="text-sm text-gray-500 dark:text-gray-300">Administradora de negocio</p>
                    </div>
                </div>
                <p class="mt-8">De manera respetuosa, me permito opinar acerca del trabajo que desempeña la L.C. Ma.
                    Trinidad Hernández Galindo; ha demostrado ser una persona responsable, comprometida con las
                    actualizaciones necesarias para el desarrollo de su profesión y honesta en el cumplimiento de
                    nuestras obligaciones fiscales, estatales y locales, en quien confiamos plenamente.</p>
            </div>
        </div>
    </Container>
</div>